<div class="sidebar-sticky">
{#    {% if selectedEvent %}#}
{#        <ul class="nav flex-column">#}
{#            <li class="nav-item">#}
{#                <a class="nav-link {{ app.request.attributes.get('_route') matches '#^(event_select)$#' ? 'active' }}" href="{{ path('event_select', {'id': selectedEvent.id}) }}">#}
{#                    <i class="fas fa-home feather"></i>#}
{#                    Dashboard#}
{#                </a>#}
{#            </li>#}
{#        </ul>#}
{#    {% endif %}#}

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link {{ app.request.attributes.get('_route') matches '#^(staff)#' ? 'active' }}" href="{{ path('staff_index') }}">
                <i class="fas fa-chalkboard-teacher feather"></i>
                Staff
            </a>
        </li>
    </ul>

{#    {% if selectedEvent %}#}

{#    {% endif %}#}
</div>